


.item-menu{
    display: inline-block;
}

.item-name{

    width: 160px;
    height: 48px;
    line-height: 48px;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #42c7c1;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 30px;

}

input {
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 60px;
    font-size: 14px;
    margin-top: 10px;
}

input[type="submit"] {
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #42c7c1;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 30px;
}